<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title></title>
</head>
<body>
    <div th:each="post: ${posts}">
        <div class="row">
            <div class="col-1" th:text="${post.id}"></div>
            <div class="col-7" th:text="${post.headline}"></div>
            <div class="col-1" th:text="${post.viewsCount}"></div>
            <div class="col-1" th:text="${post.likesCount}"></div>
            <div class="col-1">
                <a th:href="@{/admin/posts/} + ${post.id} + @{/edit}">Редактировать</a>
            </div>
            <div class="col-1">
                <form action="#" autocomplete="off" class="form-horizontal"
                      enctype="multipart/form-data" method="post" role="form"
                      th:action="@{/admin/posts/} + ${post.id} + @{/delete}"
                      th:object="${post}">
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </div>
        </div>
    </div>
    <div th:each="page: ${pages}">
        <a th:href="@{/admin/posts(page=${page.pageNumber},action=${page.pageSize})}" th:text="${page.pageNumber}"></a>
    </div>
</body>
</html>