@import "../bootstrap-4.0.0/scss/bootstrap";

html, body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.h-10 {
  height: 10% !important;
}

.h-90 {
  height: 90% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}