<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title></title>
</head>
<body>
<div>
    <div th:each="post: ${posts}">
        <p th:text="${post.headline}"></p>
        <p>
            <img th:src="@{'/uploads' + ${post.headlineImage}}">
        </p>
        <p th:utext="${post.postBody}"></p>
    </div>
    <div th:each="page: ${pages}">
        <a th:href="@{/posts(page=${page.pageNumber},size=${page.pageSize})}" th:text="${page.pageNumber}"></a>
    </div>
</div>
</body>
</html>