<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title></title>
</head>
<body>
<div>
    <!--/*@thymesVar id="post" type="ru.funkdev.ur.models.PostModel"*/-->
    <!--/*@thymesVar id="headline" type=""*/-->
    <p th:text="${post.headline}"></p>
    <p>
        <img th:src="@{'/uploads' + ${post.headlineImage}}" alt="${post.headline}">
    </p>
    <p th:utext="${post.postBody}"></p>
    <form action="#" autocomplete="off" class="form-horizontal"
          enctype="multipart/form-data" method="post" role="form"
          th:action="@{/posts/} + ${post.id} + @{/like}"
          th:object="${post}">
        <button th:text="*{likesCount}" type="submit" class="btn btn-success btn-sm"></button>
    </form>
    <p>Количество просмотров:</p>
    <p th:text="${post.viewsCount}"></p>
</div>
</body>
</html>