<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="login_form"
     class="card">
    <div class="card-header text-center">
        <span>Вход</span>
    </div>
    <form th:action="@{/users/login}" method="POST" class="form-signin">
        <div class="card-body">
            <div class="form-group text-center">
                <input type="email" class="form-control-sm" name="email" id="emailField" placeholder="Email адрес">
            </div>
            <div class="form-group text-center">
                <input type="password" class="form-control-sm" name="password" id="passwordField" placeholder="Пароль">
            </div>
            <div class="form-group text-center">
                <small>
                    <label for="rememberMe">Запомнить меня</label>
                    <input type="checkbox" class="form-control-sm" name="remember-me" id="rememberMe">
                </small>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-sm btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Вход">
                </button>
            </div>
            <div class="text-center">
                <small>
                    <a th:href="@{/users/registration}" class="text-primary">Регистрация</a>
                </small>
            </div>
        </div>
    </form>
</div>
</body>
</html>