<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title>Регистрация</title>
</head>
<body>
<div class="container h-100 w-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto align-middle">
            <div class="card">
                <div class="card-header text-center">
                    <span>Регистрация</span>
                </div>
                <div class="card-body">
                    <form autocomplete="off" action="#" th:action="@{/users/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <input type="text" th:field="*{email}" placeholder="Email адрес" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" th:field="*{password}" placeholder="Пароль" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" th:field="*{passwordRepeat}" placeholder="Повтор пароля" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                        </div>
                        <div class="text-center">
                            <small>
                                <a th:href="@{/}" class="text-primary">На главную страницу</a>
                            </small>
                        </div>
                        <span th:utext="${successMessage}"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>