<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title></title>
</head>
<body>
    <!--/*@thymesVar id="error" type=""*/-->
    <h1 th:text="${error}"></h1>
    <a href="/">на главную</a>

</body>
</html>