<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link href="/static/styles/css/styles.css" rel="stylesheet" th:href="@{/styles/css/styles.css}"/>
    <script src="/static/scripts/jquery/jquery-3.3.1.slim.min.js"
            th:src="@{/scripts/jquery/jquery-3.3.1.slim.min.js}"></script>
    <script src="/static/scripts/popper/popper.min.js" th:src="@{/scripts/popper/popper.min.js}"></script>
    <script src="/static/scripts/bootstrap/bootstrap.min.js" th:src="@{/scripts/bootstrap/bootstrap.min.js}"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<head th:fragment="header(title, script)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link href="/static/styles/css/styles.css" rel="stylesheet" th:href="@{/styles/css/styles.css}"/>
    <script src="/static/scripts/jquery/jquery-3.3.1.slim.min.js"
            th:src="@{/scripts/jquery/jquery-3.3.1.slim.min.js}"></script>
    <script src="/static/scripts/popper/popper.min.js" th:src="@{/scripts/popper/popper.min.js}"></script>
    <script src="/static/scripts/bootstrap/bootstrap.min.js" th:src="@{/scripts/bootstrap/bootstrap.min.js}"></script>
    <th:block th:replace="${script}"></th:block>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<head th:fragment="new_post_head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link href="/static/styles/css/styles.css" rel="stylesheet" th:href="@{/styles/css/styles.css}"/>
    <script src="/static/scripts/jquery/jquery-3.3.1.slim.min.js"
            th:src="@{/scripts/jquery/jquery-3.3.1.slim.min.js}"></script>
    <script src="/static/scripts/popper/popper.min.js" th:src="@{/scripts/popper/popper.min.js}"></script>
    <script src="/static/scripts/bootstrap/bootstrap.min.js" th:src="@{/scripts/bootstrap/bootstrap.min.js}"></script>
    <script src="/static/scripts/tinymce/js/tinymce/tinymce.min.js"
            th:src="@{/scripts/tinymce/js/tinymce/tinymce.min.js}"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 300,
            theme: 'modern',
            language: 'ru',
            plugins: "image imagetools lists advlist paste ",
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | ' +
                'alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | ' +
                'removeformat | image imageupload',
            toolbar2: '',
            image_advtab: true,
            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
            ],
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ],
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/uploads/imageUpload');
                xhr.onload = function () {
                    var json;

                    if (xhr.status !== 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    success(json.location);
                };
                var postId = document.getElementById('postId').value;
                console.log(blobInfo.filename());
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                formData.append('postId', postId);
                xhr.send(formData);
            }

        });
    </script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>
