<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: header(~{::title}, ~{::script})">
    <title></title>
    <script src="/static/scripts/project/poll.js" th:src="@{/scripts/project/poll.js}"></script>
</head>
<body>
<div class="container w-100 h-100">
    <div class="row align-items-center h-100">
        <div class="col-10 align-middle mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Редактирование опроса
                </div>
                <div class="card-body">
                    <form autocomplete="off" action="#" th:action="@{/admin/polls/} + ${poll.id} + @{/edit}"
                          th:object="${poll}" method="post" role="form"
                          enctype="multipart/form-data"
                          class="form-horizontal">
                        <div class="form-group">
                            <label for="name">Тема опроса:</label>
                            <input class="form-control" type="text" th:field="*{name}" placeholder="Тема опроса" id="name">
                        </div>
                        <div class="form-group" th:each="answerOption, itemStat : *{answerOptions}">
                            <label th:for="@{'item_'} + ${itemStat.index}" th:text="@{'Вариант ответа № '} + ${itemStat.index + 1} + @{':'}"></label>
                            <input class="form-control" type="text"
                                   th:field="*{answerOptions[__${itemStat.index}__].value}"
                                   th:id="@{'item_'} + ${itemStat.index}"
                                   placeholder="Вариант ответа">

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{isAnonymous}" id="isAnonymous">
                            <label class="form-check-label" for="isAnonymous">Анонимный опрос</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{isActive}" id="isActive">
                            <label class="form-check-label" for="isActive">Опрос активен</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{isMultipleSelectionEnabled}" id="isMultipleSelectionEnabled">
                            <label class="form-check-label" for="isMultipleSelectionEnabled">Несколько вариантов ответа</label>
                        </div>
                        <div class="form-group">
                            <input type="hidden" th:field="*{action}" id="form_action">
                            <button type="submit" class="btn btn-outline-info btn-block"
                                    onclick="setAction('add_option')">
                                Добавить вариант ответа
                            </button>
                            <button type="submit" class="btn btn-outline-primary btn-block"
                                    onclick="setAction('save_poll')">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>