<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: common_header(~{::title})">
    <title></title>
</head>
<body>
<div th:each="pollItem: ${polls}">
    <div class="row">
        <div class="col-1" th:text="${pollItem.id}"></div>
        <div class="col-4" th:text="${pollItem.name}"></div>
        <div class="col-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isAnonymous" th:value="${pollItem.isAnonymous}"
                       disabled>
                <label class="form-check-label" for="isAnonymous"></label>
            </div>
        </div>
        <div class="col-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isActive" th:value="${pollItem.isActive}" disabled>
                <label class="form-check-label" for="isActive"></label>
            </div>
        </div>
        <div class="col-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isMultipleSelectionEnabled"
                       th:value="${pollItem.isMultipleSelectionEnabled}" disabled>
                <label class="form-check-label" for="isMultipleSelectionEnabled"></label>
            </div>
        </div>
        <div class="col-2">
            <a th:href="@{/admin/polls/} + ${pollItem.id} + @{/edit}">Редактировать</a>
        </div>
        <div class="col-2">
            <form action="#" autocomplete="off" class="form-horizontal"
                  enctype="multipart/form-data" method="post" role="form"
                  th:action="@{/admin/polls/} + ${pollItem.id} + @{/delete}"
                  th:object="${pollItem}">
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>