<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="imports :: header(~{::title}, ~{::script})">
    <script src="/static/scripts/project/poll.js" th:src="@{/scripts/project/poll.js}"></script>
    <title></title>
</head>
<body>
<div class="container h-100 w-100">
    <div class="row align-items-center h-100">
        <div class="col-10 mx-auto align-middle">
            <div class="card">
                <div class="card-header text-center">
                    Новый опрос
                </div>
                <div class="card-body">
                    <form autocomplete="off" action="#" th:action="@{/admin/polls/new}"
                          th:object="${poll}" method="post" role="form"
                          enctype="multipart/form-data"
                          class="form-horizontal">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Вопрос">
                        </div>
                        <div class="form-group" th:each="answerOption, itemStat : *{answerOptions}">
                            <input type="text" class="form-control"
                                   th:field="*{answerOptions[__${itemStat.index}__].value}"
                                   placeholder="Вариант ответа">
                        </div>
                        <div class="form-group">
                            <label for="isAnonymous">Анонимный опрос</label>
                            <input type="checkbox" th:field="*{isAnonymous}" id="isAnonymous">
                        </div>
                        <div class="form-group">
                            <label for="isActive">Активировать опрос после сохранения</label>
                            <input type="checkbox" th:field="*{isActive}" id="isActive">
                        </div>
                        <div class="form-group">
                            <label for="isMultipleSelectionEnabled">Несколько вариантов ответа</label>
                            <input type="checkbox" th:field="*{isMultipleSelectionEnabled}"
                                   id="isMultipleSelectionEnabled">
                        </div>
                        <div class="form-group">
                            <input type="hidden" th:field="*{action}" id="form_action">
                            <button type="submit" class="btn btn-outline-info btn-block"
                                    onclick="setAction('add_option')">
                                Добавить вариант ответа
                            </button>
                            <button type="submit" class="btn btn-outline-primary btn-block"
                                    onclick="setAction('save_poll')">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>